.large-image {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.name-pizza {
  font-weight: bold;
  font-size: 150%;
}

.desc-pizza {
  font-size: small;
}

.ingredients-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.5rem;
}
