.image-container {
  position: relative;
  overflow: hidden;
}

.image-container .card-img {
  transition: transform 0.3s ease;
}

.image-container:hover .card-img {
  transform: scale(1.1); /* Aumenta la imagen al pasar el mouse */
}
